footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;

  .darkGrayPadding {
    background-color: rgb(58, 58, 62);
    height: 40px;

    p {
      font-size: 13px;
      color: white;
      margin-left: 10px;
      padding-top: 13px;
    }
  }
}
